@keyframes rotation {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}

.header__square-pic {
  transform: rotate(-15deg);
  animation: rotation 20s linear 0s normal infinite;
  width: 568px;
  height: 568px;
  position: absolute;
  right: 0;
  top: 64px;
  z-index: 0;
  background-color: #2F80ED;
}