.kaufman__triangle {
  background-image: url('../../../images/triangle.svg');
  animation: rotation 20s linear 0s normal infinite;
  z-index: -1;
  height: 877px;
  width: 877px;
  position: absolute;
  right: -160px;
}