.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  position: relative;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  display: flex;
  z-index: 0;
  /* выше установили ограничения для секции */
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  width: 568px;
  height: 568px;
  position: absolute;
  right: 0;
  top: 64px;
  z-index: 0;
  background-color: #2F80ED;
}

/* и элемента с модификатором вида ключ-значение */

.logo_size {
  width: 183px;
  height: 32px;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 3;
  background-image: url('../images/logo.svg');
}

.header__title {
  width: 730px;
  font-size: 102px;
  line-height: 96px;
  font-weight: 600;
  margin-left: 64px;
  align-self: center;
  z-index: 1;
}

.header__subtitle {
  width: 388px;
  font-size: 18px;
  line-height: 25px; 
  font-weight: normal;
  position: absolute;
  bottom: 30px;
  left: 64px; 
}



.header__link {
  text-decoration: none;
  color: #2F80ED;
}


.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.description {
  margin-top: 100px;
  margin-bottom: 100px;
}

.two-columns {
  margin: auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.two-columns__brief {
  line-height: 1.2;
  margin-top: 0;
  font-size: 18px;
  color: #2F80ED;
  font-weight: normal;
  width: 175px;
}

.spacer {
  width: 40px;
}

.two-columns__main-text {
  min-width: 784px;
  width: 80%;
  
  
}

.two-columns__span-accent {
  font-weight: 600;
}

.two-columns__paragraph {
  margin-top: 0;
  margin-bottom: 30px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__paragraph:last-of-type {
  margin-bottom: 0;
}

.digits {
  display: flex;
  flex-direction: column;
}

.section-title {
  align-self: center;
  line-height: 69px;
  font-size: 60px;
  font-weight: 600;
  margin: auto;
}

.section-subtitle {
  align-self: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin-top: 20px;
  margin-bottom: 60px;
}

.table {
  padding: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1100px;
  margin: auto;
}

.table__cell:nth-of-type(n+4){
  margin-bottom: 0;
}

.table__cell_width_l {
  width: 250px;
  margin-bottom: 60px;
}

.table__cell_width_m {
  width: 200px;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-top: 20px;
  margin-bottom: 0;
}

.feinman {
  margin-top: 100px;
  margin-bottom: 0;
  display: flex;
  position: relative;
  flex-direction: column;
  /*В макете указана высота блока в 790px. Высота картинки - 637px, 
  а отступ от верхней границы - 100px, значит строку заголовка остается 53px, при высоте строки в 138px(120*1.15)*/
  /* height: 790px; */
  height: 890px;
  background-color: #f2f2f2;
}

.feinman__image {
  width: 867px;
  height: 637px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.feinman__title {
  line-height: 1.15;
  text-align: center;
  z-index: 1;
  align-self: center;
  width: 648px;
  margin: 100px 0 0;
  font-size: 120px;
  font-weight: 600;
}

.feinman__subtitle {
  z-index: 1;
  align-self: center;
  margin-top: 70px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feinman__link {
  position: absolute;
  top: 50%;
  color: #000;
  text-decoration: none;
  z-index: 1;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  align-self: flex-end;
  right: 48px;
}

.kaufman {
  color: white;
  display: flex;
  z-index: 0;
  overflow: hidden;
  position: relative;
  margin-top: 0;
  flex-direction: column;
  background-color: #1f1f1f;
}



.kaufman__triangle {
  z-index: -1;
  height: 877px;
  width: 877px;
  position: absolute;
  right: -210px;
}

.section-title_theme_dark {
  margin-top: 90px;
  margin-bottom: 0;
}

.section-subtitle_theme_dark {
  margin-bottom: 0;
}

.table_theme_dark {
  margin-bottom: 90px;
}

.table__cell_theme_dark {
  width: 200px;
  margin-top: 80px;
}

.footer {
  color: white;
  padding-bottom: 40px;
  padding-top: 60px;
  position: relative;
  min-height: 350px;
  background-color: #1f1f1f;
}

.footer__columns {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 90%;
  flex-basis: 711px;
}

.footer__column_content_copyright {
  display: flex;
  width: 50%;
  flex-direction: column;
  min-height: 350px;
  position: relative;
}

.logo_place_footer {
  background-image: url(../images/logo_white.svg);
}

.footer__column_content_info {
  display: flex;
  flex-direction: column;
}

.footer__column_content_social {
  display: flex;
  flex-direction: column;
}

.footer__author {
  position: absolute;
  bottom: 18px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-links {
  color: white;
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 5px;
}



.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 20px;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}