.khan__buy-link {
  margin: 0px;
  color: #2F80ED;
  height: 42px;
  text-decoration: none;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
}

.khan__buy-link:hover {
  opacity: .6;
  transition: opacity 1s ease-in-out;
}